// Colors overrides
//$primary-base:  #274472 !default;
//$primary-100:   #eae9fb !default;
//$primary-200:   #d6d2fb !default;
//$primary-300:   #c1bcf4 !default;
//$primary-400:   #ada5f1 !default;
//$primary-500:   #988fed !default;
//$primary-600:   #8478ea !default;
//$primary-700:   #6f62e6 !default;
//$primary-800:   #5885AF !default;
//$primary-900:   #41729F !default;

$primary-dark: #003060 !default;
$primary: #055C9D !default;
$primary-50: #0E86D4 !default;
$primary-25: #68BBE3 !default;
