@import "~@coreui/coreui/scss/coreui";
@import "~ladda/css/ladda-themed";

//Custom Style
// CoreUI FONTS
@font-face {
  font-family: 'CoreUI-Icons-Brand';
  src: url("#{$coreui-icons-font-path}CoreUI-Icons-Brand.eot?64h6xh");
  src: url("#{$coreui-icons-font-path}CoreUI-Icons-Brand.eot?64h6xh#iefix") format("embedded-opentype"), url("#{$coreui-icons-font-path}CoreUI-Icons-Brand.ttf?64h6xh") format("truetype"), url("#{$coreui-icons-font-path}CoreUI-Icons-Brand.woff?64h6xh") format("woff"), url("#{$coreui-icons-font-path}CoreUI-Icons-Brand.svg?64h6xh#CoreUI-Icons-Linear") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CoreUI-Icons-Free';
  src: url("#{$coreui-icons-font-path}CoreUI-Icons-Free.eot?64h6xh");
  src: url("#{$coreui-icons-font-path}CoreUI-Icons-Free.eot?64h6xh#iefix") format("embedded-opentype"), url("#{$coreui-icons-font-path}CoreUI-Icons-Free.ttf?64h6xh") format("truetype"), url("#{$coreui-icons-font-path}CoreUI-Icons-Free.woff?64h6xh") format("woff"), url("#{$coreui-icons-font-path}CoreUI-Icons-Free.svg?64h6xh#CoreUI-Icons-Free") format("svg");
  font-weight: normal;
  font-style: normal;
}

.hidden {
  display: none !important;
}

.c-header {
  &.c-header-fixed {
    top: 0;
  }
}

.c-sidebar {
  .c-sidebar-brand {
    //img {
    //  &.logo-full {
    //    max-width: 80%;
    //  }
    //}
    &.logo-full {
      padding: 0 40px;
    }

    &.logo-mini {
      display: none;
    }
  }

  &.c-sidebar-minimized {
    .c-sidebar-brand {
      &.logo-full {
        display: none;
      }

      &.logo-mini {
        display: block;
      }
    }
  }
}

.click-file {
  cursor: pointer;
}

.scrollTop {
  position: fixed;
  right: 0.5%;
  bottom: 1%;
  background-color: $blue;
  padding: 5px 15px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  font-size: $font-size-lg;
  color: #fff;
  cursor: pointer;
}

.dropzone {

  .dz-preview {
    .dz-image {
      img {
        max-width: 100% !important;
      }
    }
  }

  &.dropzone-mini {
    //min-height: 150px;

    .dz-preview {
      margin: 0;
      padding: 0;
      border: none;
      display: block !important;
    }

    .dz-default {
      &.dz-message {
        background: none;
        position: relative;
        margin: 0;
        padding: 0;
        left: auto;
        top: auto;
        width: 100%;
        float: left;
        //height: 120px;

        &:after {
          content: "\f0ee";
          position: absolute;
          width: 80px;
          height: 80px;
          text-align: center;
          font-family: FontAwesome;
          font-size: 74px;
          top: 20px;
          left: 50%;
          margin: 0 0 0 -40px;
          line-height: 80px;
          opacity: 0.3;
          filter: alpha(opacity=50);
          -webkit-transition: all 200ms ease;
          -moz-transition: all 200ms ease;
          -ms-transition: all 200ms ease;
          -o-transition: all 200ms ease;
          transition: all 200ms ease;

          &:hover {
            &:after {
              opacity: 1;
              filter: alpha(opacity=100);
            }
          }
        }
      }
    }
  }
}

.dropzone.dz-started {
  .dz-message {
    display: none;
  }
}

[class^="cil-"], [class*=" cil-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CoreUI-Icons-Free' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cil-apple:before {
  content: "\ec0f";
}

.cil-birthday-cake:before {
  content: "\ec10";
}

.cil-burger:before {
  content: "\ec11";
}

.cil-coffee:before {
  content: "\e97d";
}

.cil-dinner:before {
  content: "\ec12";
}

.cil-drink:before {
  content: "\ec13";
}

.cil-drink-alcohol:before {
  content: "\ec14";
}

.cil-fastfood:before {
  content: "\ec15";
}

.cil-lemon:before {
  content: "\ea0f";
}

.cil-mug:before {
  content: "\ec17";
}

.cil-mug-tea:before {
  content: "\ec18";
}

.cil-pizza:before {
  content: "\ec19";
}

.cil-restaurant:before {
  content: "\ec1a";
}

.cil-battery-0:before {
  content: "\e935";
}

.cil-battery-empty:before {
  content: "\e935";
}

.cil-battery-3:before {
  content: "\e9b4";
}

.cil-battery-5:before {
  content: "\e9d7";
}

.cil-battery-full:before {
  content: "\e9d7";
}

.cil-battery-alert:before {
  content: "\eccc";
}

.cil-battery-slash:before {
  content: "\ecd3";
}

.cil-bolt:before {
  content: "\ecd5";
}

.cil-fire:before {
  content: "\ecd9";
}

.cil-cat:before {
  content: "\ec1c";
}

.cil-dog:before {
  content: "\ec1d";
}

.cil-flower:before {
  content: "\ec1e";
}

.cil-leaf:before {
  content: "\ec1f";
}

.cil-eco:before {
  content: "\ec1f";
}

.cil-plant:before {
  content: "\ec1f";
}

.cil-paw:before {
  content: "\ec20";
}

.cil-animal:before {
  content: "\ec20";
}

.cil-terrain:before {
  content: "\ec21";
}

.cil-american-football:before {
  content: "\e900";
}

.cil-baseball:before {
  content: "\e927";
}

.cil-basketball:before {
  content: "\e929";
}

.cil-bowling:before {
  content: "\e92a";
}

.cil-football:before {
  content: "\e93a";
}

.cil-soccer:before {
  content: "\e93a";
}

.cil-golf:before {
  content: "\e942";
}

.cil-golf-alt:before {
  content: "\e977";
}

.cil-rowing:before {
  content: "\e984";
}

.cil-running:before {
  content: "\e998";
}

.cil-swimming:before {
  content: "\e999";
}

.cil-tennis:before {
  content: "\e99c";
}

.cil-tennis-ball:before {
  content: "\e9a6";
}

.cil-weightlifitng:before {
  content: "\e9b1";
}

.cil-browser:before {
  content: "\e947";
}

.cil-cast:before {
  content: "\ec22";
}

.cil-cloud:before {
  content: "\e978";
}

.cil-cloud-download:before {
  content: "\e979";
}

.cil-cloud-upload:before {
  content: "\e97a";
}

.cil-data-transfer-down:before {
  content: "\e9a4";
}

.cil-data-transfer-up:before {
  content: "\e9a5";
}

.cil-ethernet:before {
  content: "\ec2a";
}

.cil-external-link:before {
  content: "\e9c0";
}

.cil-https:before {
  content: "\ec2d";
}

.cil-lan:before {
  content: "\ec2e";
}

.cil-link:before {
  content: "\ec2f";
}

.cil-link-alt:before {
  content: "\ec30";
}

.cil-link-broken:before {
  content: "\e946";
}

.cil-newspaper:before {
  content: "\ea37";
}

.cil-paper-plane:before {
  content: "\ea3d";
}

.cil-send:before {
  content: "\ea3d";
}

.cil-rss:before {
  content: "\ea6b";
}

.cil-share:before {
  content: "\ea74";
}

.cil-share-all:before {
  content: "\ea75";
}

.cil-share-alt:before {
  content: "\ec35";
}

.cil-share-boxed:before {
  content: "\ea76";
}

.cil-sitemap:before {
  content: "\ea7c";
}

.cil-stream:before {
  content: "\ea94";
}

.cil-transfer:before {
  content: "\eaa3";
}

.cil-wifi-signal-0:before {
  content: "\ec37";
}

.cil-wifi-signal-1:before {
  content: "\ec38";
}

.cil-wifi-signal-2:before {
  content: "\ec39";
}

.cil-wifi-signal-4:before {
  content: "\ec3b";
}

.cil-wifi-signal-off:before {
  content: "\ec41";
}

.cil-bank:before {
  content: "\e934";
}

.cil-bath:before {
  content: "\e959";
}

.cil-bathroom:before {
  content: "\e959";
}

.cil-beach-access:before {
  content: "\ea03";
}

.cil-bed:before {
  content: "\eac9";
}

.cil-building:before {
  content: "\e94a";
}

.cil-casino:before {
  content: "\ec45";
}

.cil-child-friendly:before {
  content: "\ec46";
}

.cil-baby-carriage:before {
  content: "\ec46";
}

.cil-pushchair:before {
  content: "\ec46";
}

.cil-couch:before {
  content: "\ec48";
}

.cil-sofa:before {
  content: "\ec48";
}

.cil-door:before {
  content: "\ec49";
}

.cil-elevator:before {
  content: "\e9b2";
}

.cil-fridge:before {
  content: "\ec4a";
}

.cil-garage:before {
  content: "\ec4b";
}

.cil-home:before {
  content: "\e9f9";
}

.cil-hospital:before {
  content: "\e9fa";
}

.cil-hot-tub:before {
  content: "\ec4c";
}

.cil-house:before {
  content: "\ec4e";
}

.cil-industry:before {
  content: "\ec4f";
}

.cil-factory:before {
  content: "\ec4f";
}

.cil-industry-slash:before {
  content: "\ec50";
}

.cil-factory-slash:before {
  content: "\ec50";
}

.cil-institution:before {
  content: "\ec51";
}

.cil-library-building:before {
  content: "\ec51";
}

.cil-medical-cross:before {
  content: "\ec54";
}

.cil-pool:before {
  content: "\ec55";
}

.cil-room:before {
  content: "\ec56";
}

.cil-school:before {
  content: "\ec58";
}

.cil-education:before {
  content: "\ec58";
}

.cil-shower:before {
  content: "\ec59";
}

.cil-smoke-free:before {
  content: "\ec5a";
}

.cil-smoke-slash:before {
  content: "\ec5a";
}

.cil-smoking-room:before {
  content: "\ec5b";
}

.cil-smoke:before {
  content: "\ec5b";
}

.cil-spa:before {
  content: "\ec5c";
}

.cil-toilet:before {
  content: "\ec5d";
}

.cil-wc:before {
  content: "\ec5e";
}

.cil-window:before {
  content: "\ec5f";
}

.cil-cloudy:before {
  content: "\e97b";
}

.cil-moon:before {
  content: "\ea34";
}

.cil-rain:before {
  content: "\ea62";
}

.cil-snowflake:before {
  content: "\ea7f";
}

.cil-sun:before {
  content: "\ea95";
}

.cil-alarm:before {
  content: "\eb02";
}

.cil-bell:before {
  content: "\e938";
}

.cil-bullhorn:before {
  content: "\e94b";
}

.cil-warning:before {
  content: "\eab8";
}

.cil-asterisk:before {
  content: "\ea64";
}

.cil-asterisk-circle:before {
  content: "\ecf3";
}

.cil-badge:before {
  content: "\e92c";
}

.cil-circle:before {
  content: "\e971";
}

.cil-drop1:before {
  content: "\ecf4";
}

.cil-heart:before {
  content: "\e9f6";
}

.cil-puzzle:before {
  content: "\ecf5";
}

.cil-rectangle:before {
  content: "\ecf7";
}

.cil-scrubber:before {
  content: "\ea72";
}

.cil-square:before {
  content: "\ea8f";
}

.cil-star:before {
  content: "\ea90";
}

.cil-star-half:before {
  content: "\ea91";
}

.cil-triangle:before {
  content: "\eaa5";
}

.cil-barcode:before {
  content: "\e9db";
}

.cil-beaker:before {
  content: "\e9e1";
}

.cil-bluetooth:before {
  content: "\e9f3";
}

.cil-bug:before {
  content: "\ea2b";
}

.cil-code:before {
  content: "\ea2d";
}

.cil-devices:before {
  content: "\ea47";
}

.cil-fax:before {
  content: "\ea5f";
}

.cil-fork:before {
  content: "\ea6f";
}

.cil-gamepad:before {
  content: "\ea70";
}

.cil-input-hdmi:before {
  content: "\ea7e";
}

.cil-input-power:before {
  content: "\ea96";
}

.cil-keyboard:before {
  content: "\eaaa";
}

.cil-laptop:before {
  content: "\eaac";
}

.cil-lightbulb:before {
  content: "\eaad";
}

.cil-memory:before {
  content: "\eb78";
}

.cil-monitor:before {
  content: "\eb7a";
}

.cil-mouse:before {
  content: "\eb7b";
}

.cil-print:before {
  content: "\eb7d";
}

.cil-qr-code:before {
  content: "\eb80";
}

.cil-satelite:before {
  content: "\eb82";
}

.cil-screen-desktop:before {
  content: "\eb85";
}

.cil-screen-smartphone:before {
  content: "\eb8c";
}

.cil-signal-cellular-0:before {
  content: "\eb90";
}

.cil-signal-cellular-3:before {
  content: "\eb93";
}

.cil-signal-cellular-4:before {
  content: "\eb94";
}

.cil-tablet:before {
  content: "\eb9c";
}

.cil-task:before {
  content: "\eb9d";
}

.cil-terminal:before {
  content: "\eb9e";
}

.cil-watch:before {
  content: "\ec05";
}

.cil-3d:before {
  content: "\e901";
}

.cil-aperture:before {
  content: "\e903";
}

.cil-blur:before {
  content: "\e906";
}

.cil-blur-circular:before {
  content: "\e907";
}

.cil-blur-linear:before {
  content: "\e908";
}

.cil-border-all:before {
  content: "\e90b";
}

.cil-border-bottom:before {
  content: "\e90c";
}

.cil-border-clear:before {
  content: "\e90d";
}

.cil-border-horizontal:before {
  content: "\e90e";
}

.cil-border-inner:before {
  content: "\e90f";
}

.cil-border-left:before {
  content: "\e910";
}

.cil-border-outer:before {
  content: "\e911";
}

.cil-border-right:before {
  content: "\e912";
}

.cil-border-style:before {
  content: "\e913";
}

.cil-border-top:before {
  content: "\e914";
}

.cil-border-vertical:before {
  content: "\e915";
}

.cil-brush:before {
  content: "\e916";
}

.cil-brush-alt:before {
  content: "\e917";
}

.cil-camera-roll:before {
  content: "\e918";
}

.cil-center-focus:before {
  content: "\e919";
}

.cil-color-border:before {
  content: "\e91b";
}

.cil-color-fill:before {
  content: "\e91c";
}

.cil-color-palette:before {
  content: "\e91d";
}

.cil-contrast:before {
  content: "\e91f";
}

.cil-crop:before {
  content: "\e920";
}

.cil-crop-rotate:before {
  content: "\e921";
}

.cil-cursor:before {
  content: "\e922";
}

.cil-cursor-move:before {
  content: "\e923";
}

.cil-drop:before {
  content: "\e924";
}

.cil-exposure:before {
  content: "\e926";
}

.cil-eyedropper:before {
  content: "\e930";
}

.cil-filter-frames:before {
  content: "\e93c";
}

.cil-filter-photo:before {
  content: "\e948";
}

.cil-flip:before {
  content: "\e952";
}

.cil-flip-to-back:before {
  content: "\e953";
}

.cil-flip-to-front:before {
  content: "\e954";
}

.cil-gif:before {
  content: "\e955";
}

.cil-gradient:before {
  content: "\e956";
}

.cil-grain:before {
  content: "\e960";
}

.cil-grid:before {
  content: "\e961";
}

.cil-grid-slash:before {
  content: "\e962";
}

.cil-hdr:before {
  content: "\e963";
}

.cil-healing:before {
  content: "\e99d";
}

.cil-image-broken:before {
  content: "\e99f";
}

.cil-image-plus:before {
  content: "\e9a0";
}

.cil-layers:before {
  content: "\e9ad";
}

.cil-line-style:before {
  content: "\e9af";
}

.cil-line-weight:before {
  content: "\e9b9";
}

.cil-object-group:before {
  content: "\e9bb";
}

.cil-object-ungroup:before {
  content: "\e9c3";
}

.cil-opacity:before {
  content: "\e9f4";
}

.cil-paint:before {
  content: "\e9f7";
}

.cil-paint-bucket:before {
  content: "\ea06";
}

.cil-swap-horizontal:before {
  content: "\ea0e";
}

.cil-swap-vertical:before {
  content: "\ea11";
}

.cil-vector:before {
  content: "\ea16";
}

.cil-vertical-align-bottom1:before {
  content: "\ea35";
}

.cil-vertical-align-center1:before {
  content: "\ea3a";
}

.cil-vertical-align-top1:before {
  content: "\ea3b";
}

.cil-align-center:before {
  content: "\ea40";
}

.cil-align-left:before {
  content: "\ea41";
}

.cil-align-right:before {
  content: "\ea42";
}

.cil-bold:before {
  content: "\ea43";
}

.cil-copy:before {
  content: "\ea44";
}

.cil-cut:before {
  content: "\ea61";
}

.cil-remove:before {
  content: "\ea85";
}

.cil-backspace:before {
  content: "\ea85";
}

.cil-double-quote-sans-left:before {
  content: "\ea86";
}

.cil-double-quote-sans-right:before {
  content: "\ea87";
}

.cil-excerpt:before {
  content: "\ea8a";
}

.cil-expand-down:before {
  content: "\ea9c";
}

.cil-expand-left:before {
  content: "\ea9d";
}

.cil-expand-right:before {
  content: "\ea9e";
}

.cil-expand-up:before {
  content: "\eaa7";
}

.cil-font:before {
  content: "\eaae";
}

.cil-functions:before {
  content: "\eaaf";
}

.cil-functions-alt:before {
  content: "\eab0";
}

.cil-header:before {
  content: "\eb0e";
}

.cil-highlighter:before {
  content: "\eb0f";
}

.cil-highligt:before {
  content: "\eb10";
}

.cil-indent-decrease:before {
  content: "\eb11";
}

.cil-indent-increase:before {
  content: "\eb12";
}

.cil-info:before {
  content: "\eb13";
}

.cil-italic:before {
  content: "\eb14";
}

.cil-justify-center:before {
  content: "\eb15";
}

.cil-justify-left:before {
  content: "\eb16";
}

.cil-justify-right:before {
  content: "\eb17";
}

.cil-level-down:before {
  content: "\eb18";
}

.cil-level-up:before {
  content: "\eb19";
}

.cil-line-spacing:before {
  content: "\eb1a";
}

.cil-list:before {
  content: "\eb1b";
}

.cil-list-filter:before {
  content: "\eb1c";
}

.cil-list-high-priority:before {
  content: "\eb1d";
}

.cil-list-low-priority:before {
  content: "\eb1e";
}

.cil-list-numbered:before {
  content: "\eb1f";
}

.cil-list-rich:before {
  content: "\eb21";
}

.cil-notes:before {
  content: "\eb22";
}

.cil-paragraph:before {
  content: "\eb24";
}

.cil-pen-alt:before {
  content: "\eb26";
}

.cil-pen-nib:before {
  content: "\eb28";
}

.cil-pencil:before {
  content: "\eb29";
}

.cil-short-text:before {
  content: "\eb2a";
}

.cil-sort-alpha-down:before {
  content: "\eb2b";
}

.cil-sort-alpha-up:before {
  content: "\eb2c";
}

.cil-sort-ascending:before {
  content: "\eb2d";
}

.cil-sort-descending:before {
  content: "\eb2e";
}

.cil-sort-numeric-down:before {
  content: "\eb2f";
}

.cil-sort-numeric-up:before {
  content: "\eb30";
}

.cil-space-bar:before {
  content: "\eb31";
}

.cil-text:before {
  content: "\eb32";
}

.cil-text-shapes:before {
  content: "\eb3d";
}

.cil-text-size:before {
  content: "\eb3e";
}

.cil-text-square:before {
  content: "\eb3f";
}

.cil-text-strike:before {
  content: "\eb40";
}

.cil-strikethrough:before {
  content: "\eb40";
}

.cil-translate:before {
  content: "\eb42";
}

.cil-underline:before {
  content: "\eb43";
}

.cil-vertical-align-bottom:before {
  content: "\eb44";
}

.cil-vertical-align-center:before {
  content: "\eb45";
}

.cil-vertical-align-top:before {
  content: "\eb46";
}

.cil-wrap-text:before {
  content: "\eb47";
}

.cil-assistive-listening-system:before {
  content: "\e9d3";
}

.cil-blind:before {
  content: "\e9dc";
}

.cil-braille:before {
  content: "\e9dd";
}

.cil-deaf:before {
  content: "\e9de";
}

.cil-fingerprint:before {
  content: "\ea1a";
}

.cil-life-ring:before {
  content: "\ea1d";
}

.cil-lock-locked:before {
  content: "\ea1e";
}

.cil-lock-unlocked:before {
  content: "\ea24";
}

.cil-low-vision:before {
  content: "\ea25";
}

.cil-mouth-slash:before {
  content: "\ea27";
}

.cil-pregnant:before {
  content: "\ea28";
}

.cil-shield-alt:before {
  content: "\ea2f";
}

.cil-sign-language:before {
  content: "\ea77";
}

.cil-wheelchair:before {
  content: "\ea80";
}

.cil-disabled:before {
  content: "\ea80";
}

.cil-account-logout:before {
  content: "\e964";
}

.cil-action-redo:before {
  content: "\e965";
}

.cil-action-undo:before {
  content: "\e966";
}

.cil-applications:before {
  content: "\e967";
}

.cil-apps:before {
  content: "\e967";
}

.cil-applications-settings:before {
  content: "\e968";
}

.cil-apps-settings:before {
  content: "\e968";
}

.cil-arrow-bottom:before {
  content: "\e969";
}

.cil-arrow-circle-bottom:before {
  content: "\e96a";
}

.cil-arrow-circle-left:before {
  content: "\e96b";
}

.cil-arrow-circle-right:before {
  content: "\e96c";
}

.cil-arrow-circle-top:before {
  content: "\e96d";
}

.cil-arrow-left:before {
  content: "\e96e";
}

.cil-arrow-right:before {
  content: "\e96f";
}

.cil-arrow-thick-bottom:before {
  content: "\e970";
}

.cil-arrow-thick-from-bottom:before {
  content: "\e981";
}

.cil-arrow-thick-from-left:before {
  content: "\e982";
}

.cil-arrow-thick-from-right:before {
  content: "\e983";
}

.cil-arrow-thick-from-top:before {
  content: "\e99b";
}

.cil-arrow-thick-left:before {
  content: "\e9a1";
}

.cil-arrow-thick-right:before {
  content: "\e9a2";
}

.cil-arrow-thick-to-bottom:before {
  content: "\e9bc";
}

.cil-arrow-thick-to-left:before {
  content: "\e9bd";
}

.cil-arrow-thick-to-right:before {
  content: "\e9bf";
}

.cil-arrow-thick-to-top:before {
  content: "\e9d4";
}

.cil-arrow-thick-top:before {
  content: "\e9be";
}

.cil-arrow-top:before {
  content: "\e9e4";
}

.cil-ban:before {
  content: "\e9e5";
}

.cil-brightness:before {
  content: "\e9e6";
}

.cil-caret-bottom:before {
  content: "\ea2c";
}

.cil-caret-left:before {
  content: "\ea30";
}

.cil-caret-right:before {
  content: "\ea31";
}

.cil-caret-top:before {
  content: "\ea3c";
}

.cil-check:before {
  content: "\ea55";
}

.cil-check-alt:before {
  content: "\ecf9";
}

.cil-check-circle:before {
  content: "\ea57";
}

.cil-chevron-bottom:before {
  content: "\ea59";
}

.cil-chevron-circle-down-alt:before {
  content: "\ecfc";
}

.cil-chevron-circle-left-alt:before {
  content: "\ecfd";
}

.cil-chevron-circle-right-alt:before {
  content: "\ecfe";
}

.cil-chevron-circle-up-alt:before {
  content: "\ecff";
}

.cil-chevron-double-down:before {
  content: "\ea6a";
}

.cil-chevron-double-left:before {
  content: "\ea6e";
}

.cil-chevron-double-right:before {
  content: "\ea73";
}

.cil-chevron-double-up:before {
  content: "\ea8d";
}

.cil-chevron-double-up-alt:before {
  content: "\ed03";
}

.cil-chevron-left:before {
  content: "\ea8e";
}

.cil-chevron-right:before {
  content: "\ea9a";
}

.cil-chevron-top:before {
  content: "\eabd";
}

.cil-clear-all:before {
  content: "\eabe";
}

.cil-clipboard:before {
  content: "\eac0";
}

.cil-clone:before {
  content: "\eac1";
}

.cil-columns:before {
  content: "\eb4b";
}

.cil-exit-to-app:before {
  content: "\eb4d";
}

.cil-filter:before {
  content: "\eb4e";
}

.cil-infinity:before {
  content: "\eb4f";
}

.cil-input:before {
  content: "\eb50";
}

.cil-magnifying-glass:before {
  content: "\eb51";
}

.cil-zoom:before {
  content: "\eb51";
}

.cil-search:before {
  content: "\eb51";
}

.cil-menu:before {
  content: "\ed0b";
}

.cil-hamburger-menu:before {
  content: "\ed0b";
}

.cil-minus:before {
  content: "\eb52";
}

.cil-move:before {
  content: "\eb56";
}

.cil-options:before {
  content: "\ecdc";
}

.cil-options-horizontal:before {
  content: "\eb57";
}

.cil-ellipses:before {
  content: "\eb57";
}

.cil-ellipsis:before {
  content: "\eb57";
}

.cil-pin:before {
  content: "\eb5a";
}

.cil-plus:before {
  content: "\eb5b";
}

.cil-power-standby:before {
  content: "\eb5f";
}

.cil-reload:before {
  content: "\eb60";
}

.cil-resize-both:before {
  content: "\eb61";
}

.cil-resize-height:before {
  content: "\eb62";
}

.cil-resize-width:before {
  content: "\eb63";
}

.cil-save:before {
  content: "\eb65";
}

.cil-settings:before {
  content: "\eb68";
}

.cil-cog:before {
  content: "\eb68";
}

.cil-speedometer:before {
  content: "\eb69";
}

.cil-gauge:before {
  content: "\eb69";
}

.cil-spreadsheet:before {
  content: "\eb6a";
}

.cil-storage:before {
  content: "\eb6b";
}

.cil-sync:before {
  content: "\eb6c";
}

.cil-toggle-off:before {
  content: "\eb71";
}

.cil-touch-app:before {
  content: "\eb73";
}

.cil-trash:before {
  content: "\eb74";
}

.cil-view-column:before {
  content: "\ebf6";
}

.cil-view-module:before {
  content: "\ebf7";
}

.cil-view-quilt:before {
  content: "\ebf8";
}

.cil-view-stream:before {
  content: "\ebf9";
}

.cil-wallpaper:before {
  content: "\ebfa";
}

.cil-window-maximize:before {
  content: "\ebfc";
}

.cil-window-minimize:before {
  content: "\ebfd";
}

.cil-window-restore:before {
  content: "\ebfe";
}

.cil-x:before {
  content: "\ebff";
}

.cil-x-circle:before {
  content: "\ec00";
}

.cil-zoom-in:before {
  content: "\ec02";
}

.cil-zoom-out:before {
  content: "\ec03";
}

.cil-child:before {
  content: "\e97e";
}

.cil-baby:before {
  content: "\e97e";
}

.cil-face:before {
  content: "\e985";
}

.cil-face-dead:before {
  content: "\e986";
}

.cil-frown:before {
  content: "\e987";
}

.cil-sad:before {
  content: "\e987";
}

.cil-meh:before {
  content: "\e988";
}

.cil-mood-bad:before {
  content: "\e989";
}

.cil-mood-good:before {
  content: "\e98a";
}

.cil-mood-very-bad:before {
  content: "\e98b";
}

.cil-mood-very-good:before {
  content: "\e98c";
}

.cil-smile:before {
  content: "\e9c4";
}

.cil-happy:before {
  content: "\e9c4";
}

.cil-smile-plus:before {
  content: "\e9da";
}

.cil-4k:before {
  content: "\ea81";
}

.cil-airplay:before {
  content: "\ea82";
}

.cil-album:before {
  content: "\ea83";
}

.cil-audio:before {
  content: "\ea93";
}

.cil-audio-description:before {
  content: "\eaa2";
}

.cil-audio-spectrum:before {
  content: "\eaa8";
}

.cil-av-timer:before {
  content: "\eab1";
}

.cil-camera:before {
  content: "\eab2";
}

.cil-camera-control:before {
  content: "\eab3";
}

.cil-control:before {
  content: "\eab3";
}

.cil-closed-captioning:before {
  content: "\eab9";
}

.cil-cc:before {
  content: "\eab9";
}

.cil-compress:before {
  content: "\eb4a";
}

.cil-equalizer:before {
  content: "\eba0";
}

.cil-featured-playlist:before {
  content: "\ec6c";
}

.cil-fullscreen:before {
  content: "\ec73";
}

.cil-fullscreen-exit:before {
  content: "\ec74";
}

.cil-hd:before {
  content: "\ec75";
}

.cil-headphones:before {
  content: "\ec76";
}

.cil-library-add:before {
  content: "\ec7a";
}

.cil-loop:before {
  content: "\ec7c";
}

.cil-loop-1:before {
  content: "\ec7d";
}

.cil-loop-circular:before {
  content: "\ec7e";
}

.cil-media-eject:before {
  content: "\ec80";
}

.cil-media-pause:before {
  content: "\ec83";
}

.cil-media-play:before {
  content: "\ec86";
}

.cil-media-record:before {
  content: "\ec89";
}

.cil-media-skip-backward:before {
  content: "\ec8c";
}

.cil-media-skip-forward:before {
  content: "\ec8f";
}

.cil-media-step-backward:before {
  content: "\ec92";
}

.cil-media-step-forward:before {
  content: "\ec95";
}

.cil-media-stop:before {
  content: "\ec98";
}

.cil-microphone:before {
  content: "\ec9b";
}

.cil-mic:before {
  content: "\ec9b";
}

.cil-movie:before {
  content: "\ec9f";
}

.cil-music-note:before {
  content: "\eca1";
}

.cil-playlist-add:before {
  content: "\eca6";
}

.cil-speaker:before {
  content: "\ecb9";
}

.cil-tv:before {
  content: "\ecbc";
}

.cil-video:before {
  content: "\ecc0";
}

.cil-voice-over-record:before {
  content: "\ecc7";
}

.cil-volume-high:before {
  content: "\ecc9";
}

.cil-volume-low:before {
  content: "\ecca";
}

.cil-volume-off:before {
  content: "\eccb";
}

.cil-at:before {
  content: "\e98f";
}

.cil-book:before {
  content: "\e990";
}

.cil-bookmark:before {
  content: "\e992";
}

.cil-description:before {
  content: "\eba6";
}

.cil-envelope-closed:before {
  content: "\e9b5";
}

.cil-envelope-letter:before {
  content: "\e9b6";
}

.cil-envelope-open:before {
  content: "\e9b7";
}

.cil-file:before {
  content: "\e9c5";
}

.cil-find-in-page:before {
  content: "\ebaa";
}

.cil-folder:before {
  content: "\e9d8";
}

.cil-folder-open:before {
  content: "\e9d9";
}

.cil-image1:before {
  content: "\e9fe";
}

.cil-inbox:before {
  content: "\ea00";
}

.cil-library:before {
  content: "\ebb0";
}

.cil-paperclip:before {
  content: "\ea3e";
}

.cil-tag:before {
  content: "\ea97";
}

.cil-tags:before {
  content: "\ea98";
}

.cil-address-book:before {
  content: "\ec07";
}

.cil-people:before {
  content: "\ec62";
}

.cil-user:before {
  content: "\ec67";
}

.cil-user-female:before {
  content: "\ec68";
}

.cil-user-follow:before {
  content: "\ec69";
}

.cil-user-unfollow:before {
  content: "\ec6b";
}

.cil-airplane-mode:before {
  content: "\e904";
}

.cil-airplane-mode-off:before {
  content: "\e905";
}

.cil-contact:before {
  content: "\e933";
}

.cil-dialpad:before {
  content: "\e93f";
}

.cil-mobile:before {
  content: "\ea48";
}

.cil-mobile-landscape:before {
  content: "\e944";
}

.cil-phone:before {
  content: "\e94f";
}

.cil-sim:before {
  content: "\e972";
}

.cil-bike:before {
  content: "\eae6";
}

.cil-boat-alt:before {
  content: "\eae9";
}

.cil-bus-alt:before {
  content: "\eaeb";
}

.cil-car-alt:before {
  content: "\eaee";
}

.cil-flight-takeoff:before {
  content: "\eaf2";
}

.cil-locomotive:before {
  content: "\eaf3";
}

.cil-taxi:before {
  content: "\eafa";
}

.cil-truck:before {
  content: "\eb00";
}

.cil-walk:before {
  content: "\eb01";
}

.cil-calendar:before {
  content: "\e994";
}

.cil-calendar-check:before {
  content: "\e995";
}

.cil-clock:before {
  content: "\e9aa";
}

.cil-compass:before {
  content: "\e9ab";
}

.cil-flag-alt:before {
  content: "\ec0a";
}

.cil-globe-alt:before {
  content: "\ea32";
}

.cil-history:before {
  content: "\e9f8";
}

.cil-language:before {
  content: "\ea0c";
}

.cil-location-pin:before {
  content: "\ea17";
}

.cil-map:before {
  content: "\ea20";
}

.cil-balance-scale:before {
  content: "\eac6";
}

.cil-bar-chart:before {
  content: "\eaca";
}

.cil-basket:before {
  content: "\eacb";
}

.cil-briefcase:before {
  content: "\ead0";
}

.cil-british-pound:before {
  content: "\ebb9";
}

.cil-calculator:before {
  content: "\ebbc";
}

.cil-cart:before {
  content: "\ebc0";
}

.cil-chart:before {
  content: "\ebc5";
}

.cil-chart-line:before {
  content: "\ebc9";
}

.cil-chart-pie:before {
  content: "\ebcb";
}

.cil-credit-card:before {
  content: "\ebce";
}

.cil-dollar:before {
  content: "\ebcf";
}

.cil-euro:before {
  content: "\ebd4";
}

.cil-gem:before {
  content: "\eb48";
}

.cil-diamond:before {
  content: "\eb48";
}

.cil-gift:before {
  content: "\eb49";
}

.cil-graph:before {
  content: "\ebd8";
}

.cil-money:before {
  content: "\ec0d";
}

.cil-cash:before {
  content: "\ec0d";
}

.cil-wallet:before {
  content: "\ebe5";
}

.cil-yen:before {
  content: "\ebe6";
}

.cil-chat-bubble:before {
  content: "\ead1";
}

.cil-comment-bubble:before {
  content: "\ead4";
}

.cil-comment-square:before {
  content: "\eadd";
}

.cil-speech:before {
  content: "\ead2";
}

.cil-hand-point-down:before {
  content: "\e9ea";
}

.cil-hand-point-left:before {
  content: "\e9eb";
}

.cil-hand-point-right:before {
  content: "\e9ec";
}

.cil-hand-point-up:before {
  content: "\e9ed";
}

.cil-thumb-down:before {
  content: "\ea9f";
}

.cil-thumb-up:before {
  content: "\eaa0 ";
}

.c-footer {
  img {
    max-width: 5%;
  }
}

.dropdown,
.dropdown-item {
  svg,
  i {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    margin-left: -10px;
    color: #c8ced3;
    text-align: center;
  }
}

.breadcrumb {
  border-bottom: none;
  margin-bottom: 0;
}

.c-main {
  padding-top: 1.5em;

  > .container-fluid {
    @include media-breakpoint-up(md) {
      padding-right: 1.5em;
      padding-left: 1.5em;
    }
  }
}

.form-control {
  &.ignore-icon-valid {
    &.is-invalid,
    &.is-valid {
      background: none !important;
    }
  }
}

.fr-toolbar {
  &.fr-top {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
  }
}

.second-toolbar {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

.fr-view {
  .fr-video {
    &.fr-dvi,
    &.fr-rv {
      display: block !important;
    }
  }
}
