// Variable overrides
$roboto-font-path: "../fonts/roboto/" !default;
$coreui-icons-font-path: "../fonts/coreui/" !default;
$imgpath: "../images/";
$url-0: url("#{$imgpath}loading.gif") !default;
$url-1: url("#{$imgpath}loading-sm.gif") !default;
$bg-primary-color: #376449;
$text-primary-color: #376449;
$text-color-darkest: #111;
$btn-text-color: var(--white);

$placeholder-text-size: .88rem;
$pace-spinner: pace-spinner 400ms linear infinite;
$pace-rotate: rotate(3deg) translate(0px, -4px);

$link-color: #323232 !default;
$link-hover-color: darken($link-color, 20%) !default;
$link-hover-decoration: none !default;
$emphasized-link-hover-darken-percentage: 20% !default;
$link-theme-map: () !default;
$link-theme-map: map-merge(
                (
                        default: (
                                "link-color": $link-color,
                                "link-hover-color": $link-hover-color
                        )
                ),
                $link-theme-map
);

// Sidebar
$sidebar-width: 240px !default;
//$sidebar-sm-width:  192px !default;
//$sidebar-lg-width:  320px !default;
//$sidebar-xl-width:  384px !default;

//$sidebar-widths: (
//        sm: 192px,
//        lg: 320px,
//        xl: 384px
//) !default;
