/*!
 * SCSS Style for amqit-mdb
 *
 * @author          Alex Gaspersz
 * @link            https://www.amqit.id/
 * @copyright (c)   2020
 * @license         AMQ IT Solution
 */
// If you want to override variables do it here
@import "variables";
// If you want to override colors do it here
@import "colors";
// If you want to create custom style do it here
@import "custom";
// Global custom style
@import "../global";

// Fix mobile footer
.app-footer {
  flex: 0 0;
  padding-top: map-get($spacers, 3);
  padding-bottom: map-get($spacers, 3);
}

div.tagsinput {
  border: 1px solid #D5D5D5;
  background: #FFF;
  width: 100%;
  min-height: 30px;
  overflow-y: auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  span.tag {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    float: left;
    text-decoration: none;
    background: #33414e;
    color: #FFF;
    margin: 2px 0 2px 2px;
    line-height: 20px;
    padding: 2px 5px 2px 20px;
    position: relative;

    a {
      color: #FFF;
      text-decoration: none;
      position: absolute;
      left: 5px;
      width: 15px;
      height: 20px;
      opacity: 0.5;
      filter: alpha(opacity=50);

      &:hover {
        opacity: 1;
        filter: alpha(opacity=100);
      }

      &:before {
        position: absolute;
        font-family: "FontAwesome";
        content: "\f00d";
        color: #FFF;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  input {
    width: 80px;
    margin: 4px 5px;
    border: 0;
    height: 20px;
    line-height: 20px;
  }

  div {
    display: block;
    float: left;
  }
}
