/*!
 * SCSS Style for amqit-mdb
 *
 * @author          Alex Gaspersz
 * @link            https://www.amqit.id/
 * @copyright (c)   2020
 * @license         AMQ IT Solution
 */
//Admin Login Style
@import "variables";
@import "~@coreui/coreui/scss/coreui";
@import "~ladda/css/ladda-themed";
@import "../global";

body {
  &.login-container {
    background-color: #4f5d73 !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.login-box {
  .login-form {
    .form-control {
      &.is-invalid,
      &.is-valid {
        background: none !important;
      }
    }

    .login-heading {
      font-size: 20px;
      display: inline-block;
      width: 100%;
      text-transform: uppercase;
      padding-bottom: 15px;
      text-align: center;
      font-weight: 400;
    }

  }

  .login-body {
    width: 100%;
    float: left;
    background: rgba(26, 79, 129, 0.9);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  .login-title {
    font-size: 30px;
    font-weight: bold;
    color: #1A4F81;
    display: inline-block;
    width: 100%;
  }

  .login-title-desc {
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
  }

  .img-logo {
    img {
      width: 65%;
      max-width: 100%;
      height: auto;
    }
  }
}
