// Plugins
@import "../vendors/select2/core";
@import "~bootstrap-table/src/bootstrap-table";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css";
@import "~jquery-timepicker/jquery.timepicker.css";
@import "~toastr/toastr";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";
@import "~bootstrap-fileinput/scss/fileinput";

// ROBOTO FONTS
@font-face {
  font-family: "Roboto";
  src: url("#{$roboto-font-path}Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"),
  url("#{$roboto-font-path}Roboto-Light.woff2") format("woff2"),
  url("#{$roboto-font-path}Roboto-Light.woff") format("woff"),
  url("#{$roboto-font-path}Roboto-Light.ttf") format("truetype"),
  url("#{$roboto-font-path}Roboto-Light.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("#{$roboto-font-path}Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto Regular"), local("Roboto-Regular"),
  url("#{$roboto-font-path}Roboto-Regular.woff2") format("woff2"),
  url("#{$roboto-font-path}Roboto-Regular.woff") format("woff"),
  url("#{$roboto-font-path}Roboto-Regular.ttf") format("truetype"),
  url("#{$roboto-font-path}Roboto-Regular.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("#{$roboto-font-path}Roboto-Italic.eot");
  src: local("Roboto"), local("Roboto Italic"), local("Roboto-Italic"),
  url("#{$roboto-font-path}Roboto-Italic.woff2") format("woff2"),
  url("#{$roboto-font-path}Roboto-Italic.woff") format("woff"),
  url("#{$roboto-font-path}Roboto-Italic.ttf") format("truetype"),
  url("#{$roboto-font-path}Roboto-Italic.eot?#iefix") format("embedded-opentype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("#{$roboto-font-path}Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"),
  url("#{$roboto-font-path}Roboto-Medium.woff2") format("woff2"),
  url("#{$roboto-font-path}Roboto-Medium.woff") format("woff"),
  url("#{$roboto-font-path}Roboto-Medium.ttf") format("truetype"),
  url("#{$roboto-font-path}Roboto-Medium.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("#{$roboto-font-path}Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"),
  url("#{$roboto-font-path}Roboto-Bold.woff2") format("woff2"),
  url("#{$roboto-font-path}Roboto-Bold.woff") format("woff"),
  url("#{$roboto-font-path}Roboto-Bold.ttf") format("truetype"),
  url("#{$roboto-font-path}Roboto-Bold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: 700;
}

// Fix inaccessible dropdown in .table-responsive dropdown buttons
.table-responsive {
  overflow-x: inherit;

  td:not(.btn-td) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.

  .nowrap {
    white-space: nowrap;
  }

  &.table {
    background-color: transparent;
  }

  &.table-no-border {
    th, td {
      border: none;
    }
  }

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
  }

  thead th {
    vertical-align: middle;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

  &.table-header-center {
    > thead:first-child {
      > tr > th {
        text-align: center;
      }
    }
  }

  &.table-row-top {
    > tbody {
      > tr > td {
        vertical-align: top;
      }
    }
  }
}

.bootstrap-table {
  .fixed-table-container {
    .table {
      > thead {
        > tr > th {
          vertical-align: middle;
        }
      }

      > td {
        vertical-align: top !important;
      }
    }
  }
}

.check {
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  cursor: pointer;

  .icheckbox_minimal-grey,
  .iradio_minimal-grey {
    margin-right: 5px;
    margin-top: -2px;
  }

  &.disabled {
    color: #AAA;
  }
}

// iCheck plugin Minimal skin, grey
.icheckbox_minimal-grey,
.iradio_minimal-grey {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url("#{$imgpath}grey.png") no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_minimal-grey {
  background-position: 0 0;

  &.hover {
    background-position: -20px 0;
  }

  &.checked {
    background-position: -40px 0;

    &.disabled {
      background-position: -80px 0;
    }
  }

  &.disabled {
    background-position: -60px 0;
    cursor: default;
  }
}

.iradio_minimal-grey {
  background-position: -100px 0;

  &.hover {
    background-position: -120px 0;
  }

  &.checked {
    background-position: -140px 0;

    &.disabled {
      background-position: -180px 0;
    }
  }

  &.disabled {
    background-position: -160px 0;
    cursor: default;
  }
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
  .icheckbox_minimal-grey,
  .iradio_minimal-grey {
    background-image: url("#{$imgpath}grey@2x.png");
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}

// iCheck plugin Square skin, red
.icheckbox_square-red,
.iradio_square-red {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url("#{$imgpath}red.png") no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_square-red {
  background-position: 0 0;

  &.hover {
    background-position: -24px 0;
  }

  &.checked {
    background-position: -48px 0;

    &.disabled {
      background-position: -96px 0;
    }
  }

  &.disabled {
    background-position: -72px 0;
    cursor: default;
  }
}

.iradio_square-red {
  background-position: -120px 0;

  &.hover {
    background-position: -144px 0;
  }

  &.checked {
    background-position: -168px 0;

    &.disabled {
      background-position: -216px 0;
    }
  }

  &.disabled {
    background-position: -192px 0;
    cursor: default;
  }
}

/* Retina support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
  .icheckbox_square-red,
  .iradio_square-red {
    background-image: url("#{$imgpath}red@2x.png");
    -webkit-background-size: 240px 24px;
    background-size: 240px 24px;
  }
}

// iCheck plugin Square skin, green
.icheckbox_square-green,
.iradio_square-green {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url("#{$imgpath}green.png") no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_square-green {
  background-position: 0 0;

  &.hover {
    background-position: -24px 0;
  }

  &.checked {
    background-position: -48px 0;

    &.disabled {
      background-position: -96px 0;
    }
  }

  &.disabled {
    background-position: -72px 0;
    cursor: default;
  }
}

.iradio_square-green {
  background-position: -120px 0;

  &.hover {
    background-position: -144px 0;
  }

  &.checked {
    background-position: -168px 0;

    &.disabled {
      background-position: -216px 0;
    }
  }

  &.disabled {
    background-position: -192px 0;
    cursor: default;
  }
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
  .icheckbox_square-green,
  .iradio_square-green {
    background-image: url("#{$imgpath}green@2x.png");
    -webkit-background-size: 240px 24px;
    background-size: 240px 24px;
  }
}

//Bootstrap file input
.krajee-default {
  &.file-preview-frame {
    .kv-file-content {
      width: 100% !important;
      height: 160px !important;

      .kv-preview-data {
        &.file-preview-video {
          width: 100% !important;
          height: 250px !important;
        }
      }
    }

    .file-thumbnail-footer {
      display: none;
    }
  }
}

//Pace progress stylesheet
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }

  .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;
    -webkit-transform: $pace-rotate;
    -moz-transform: $pace-rotate;
    -ms-transform: $pace-rotate;
    -o-transform: $pace-rotate;
    transform: $pace-rotate;
  }

  .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 10px;
    -webkit-animation: $pace-spinner;
    -moz-animation: $pace-spinner;
    -ms-animation: $pace-spinner;
    -o-animation: $pace-spinner;
    animation: $pace-spinner;
  }
}

.pace-inactive {
  display: none;
}

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//Error label jquery validate stylesheet
$error-color: #be2d2f !default;
label,
span {
  &.is-invalid {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: $error-color;
  }
}

label {
  &.required-label {
    font-weight: 700;

    &.error {
      color: $error-color;
    }

    &:after {
      content: " *";
      color: $error-color;
    }
  }
}

.help-block {
  margin-top: .25rem;
  font-size: 80%;
  color: $error-color;
}

.form-group {
  &.has-error {
    &.has-danger {
      .select2 {
        &.select2-container {
          &.select2-container--default {
            .select2-selection--single,
            .select2-selection--multiple {
              border-color: $error-color;
            }
          }
        }
      }

      label {
        color: $error-color;
      }
    }
  }
}

.form-group {
  &.is-invalid {
    &.select2 {
      &.select2-container {
        &.select2-container--default {
          .select2-selection--single,
          .select2-selection--multiple {
            border-color: $error-color;
          }
        }
      }
    }

    label {
      color: $error-color;
    }
  }

  &.is-valid {
    &.select2 {
      &.select2-container {
        &.select2-container--default {
          .select2-selection--single,
          .select2-selection--multiple {
            border-color: #2eb85c;
          }
        }
      }
    }
  }
}

.form-control {
  border-radius: 0;
  color: #333;

  &:focus {
    color: #3c3c3c;
  }

  &.no-icon {
    &.is-invalid,
    &.is-valid {
      background: none !important;
    }
  }
}

html:not([dir=rtl]) {
  .input-group {
    > .form-control:not(:last-child) {
      border-radius: 0;
    }
  }

  .input-group {
    > .custom-select:not(:last-child) {
      border-radius: 0;
    }
  }
}

.custom-append {
  cursor: pointer;
  padding: .20rem .75rem;
  line-height: 2.1;
  position: absolute;
  right: 0;
  z-index: 3;
  border: 0;
  color: #ccc;

  &.key {
    padding: .2rem .95rem;
  }

  i.fa {
    font-size: 1.4em;
    color: #a0a0a0;

    &.fa-eye-slash {
      color: #5e5e5e;
    }
  }
}

.rc-anchor {
  border-radius: 0 !important;
}

.card-body {
  &.card-body-table {
    padding: 0 !important;

    .fixed-table-toolbar,
    .fixed-table-pagination {
      padding-left: $card-spacer-y;
      padding-right: $card-spacer-y;
    }

    .table {
      border-left: 0;
      border-right: 0;

      th:first-child,
      td:first-child {
        border-left: 0 !important;
        border-right: $table-border-width solid $table-border-color;
      }

      th:last-child,
      td:last-child {
        border-left: $table-border-width solid $table-border-color;
        border-right: 0 !important;
      }
    }
  }
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  @include text-truncate;
}

.badge {
  padding: .4em .5em;
  font-size: 85%;
}

.text-note {
  color: $gray-400;
  font-size: $font-size-sm;

  &.em {
    font-style: italic;
  }
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.btn {
  &.btn-default {
    color: #4F5D73;
    background-color: #f7f7f7;
    border-color: #ccc;

    &:focus {
      background-color: #e6e6e6;
      border-color: #8c8c8c;
    }

    &:hover {
      background-color: #e6e6e6;
      border-color: #adadad;
    }

    &:active {
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }
}

.fixed-table-loading {
  text-align: center;
  padding-top: 1em;
}

//Dropzone custom
.dropzone {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  padding: 0 !important;

  .dz-preview {
    margin: 10px !important;

    .dz-image {
      border-radius: 0 !important;
      width: auto !important;
      height: auto !important;
    }
  }

  &.dropzone-mini {
    min-height: 250px;

    .dz-preview {
      .dz-image {
        border-radius: 0;
        width: auto !important;
        height: auto !important;
      }
    }

    .dz-default {
      &.dz-message {
        height: 200px;

        &:after {
          top: 50%;
        }

        .dz-button {
          margin-top: 25%;
        }
      }
    }
  }

  .dz-preview {
    .dz-image {
      border-radius: 0;
    }
  }
}
