/*==================
 ERROR PAGE
====================*/
@import "~@coreui/coreui/scss/coreui";

#error {
  display: inline;
  float: left;
  padding: 60px 0;
  width: 100%;

  .error-area {
    display: inline;
    float: left;
    width: 100%;
    text-align: center;

    p {
      font-size: 23px;

    }

    span {

    }

    h2 {
      font-size: 80px;
      line-height: 1.7;
    }

  }
}
